@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

footer{
    height: 5vh;
    background-color: #2874f0;
    color: white;
     font-family: 'Pacifico', cursive;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}